* {
    box-sizing: border-box;
}

body {
    background: rgb(89, 67, 52);
    background: linear-gradient(90deg, rgba(89, 67, 52, 1) 9%, rgba(73, 73, 86, 1) 28%, rgba(9, 95, 223, 1) 200%);
    color: white;
}

main{
    display: flex;
    flex-flow: column;
}

.userForm {
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.selection {
    display: flex;
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 50%;
    padding: 10px;
    background-color: black ;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
    background-color: black ;
}

.custom {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.custom h3 {
    background-color: black;
    padding: 10px;

}

.custom p {
    background-color: #756464;
}

.custom input {
    background-color: #454545;
    color: white;
}
.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95vw;
    flex-grow: 1;
}
.bar ul {
    margin: auto;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.bar ul li a{
    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    text-decoration: none;
}
.bar ul li.yes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.bar ul li.yes::after {
    content: "";
    background-color: white;
    height: 2px;
    flex-grow: 1;
}   