* {
    box-sizing: border-box;
}

body {
    background: rgb(89, 67, 52);
    background: linear-gradient(90deg, rgba(89, 67, 52, 1) 9%, rgba(73, 73, 86, 1) 28%, rgba(9, 95, 223, 1) 200%);
    color: white;
}


.left {
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.right {
    display: flex;
    flex-direction: column;
    width: 15vw;
}



.userForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}





.custom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    max-width: 35vw;

}



.custom h3 {
    background-color: black;
    padding: 10px;

}

/*  */
.custom section {
    background-color: #756464;
    min-width: 34vw;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.custom section input {
    background-color: #454545;

    color: white;

}

.custom section p {
    margin: 8px;
    padding: 0px;
}


.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95vw;
    flex-grow: 1;
}

.bar ul {
    margin: auto;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.bar ul li a {
    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    text-decoration: none;
}

.bar ul li.yes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.bar ul li.yes::after {
    content: "";
    background-color: white;
    height: 2px;
    flex-grow: 1;
}